<!-- Content -->
<section id="content" class='nrv-no-top-padding'>
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">

                <section>
                    <header>
                        <h2>Autonomic Nervous System</h2>
                    </header>
                    <p>
                        Your Autonomic Nervous System regulates the functions of your internal organs, like your heart and stomach. It also controls your
                        smooth and cardiac muscles, and your glands. It can change your body temperature, send extra blood to a particular area, slow your
                        heart beat, or tweak your stomach secretions. The autonomic nervous system is run by two competing interests. The sympathetic and
                        parasympathetic nervous systems, they serve the same organs but create opposite effects in them, to excite or subdue your body’s
                        functions. Your sympathetic nervous system amps you up and the parasympathetic nervous system talks you down. Together, they are
                        what make your body experience stress, fear, relaxation and defiance. 
                    </p>

                    <div>
                        <img src='/assets/images/sympathetic_innervation.jpg' style="width: 100%; height: auto;">
                    </div>

                    <div>
                        <img src='/assets/images/parasympathetic_innervation.jpg' style="width: 100%; height: auto;">
                    </div>

                    <p>
                        <a href='https://www.merckmanuals.com/home/brain,-spinal-cord,-and-nerve-disorders/autonomic-nervous-system-disorders/overview-of-the-autonomic-nervous-system'>
                            Merck Manual, Overview of the Autonomic Nervous System, 2020
                        </a>
                    </p>
                </section>

            </div>

            <div class="col-6 col-12-medium">

                <section>
                    <header>
                        <h2>Somatic Nervous System</h2>
                    </header>
                    <p>
                        The somatic system is the part of the peripheral nervous system responsible for carrying sensory and motor information to and from the
                        central nervous system. The somatic nervous system derives its name from the Greek word soma, which means "body."
                    </p>
                    <p>
                        The somatic system is responsible for transmitting sensory information as well as for voluntary movement. This system contains two major
                        types of neurons:
                    </p>
                    <p>
                        <b>Motor neurons:</b> Also called efferent neurons, motor neurons carry information from the brain and spinal cord to muscle fibers throughout
                        the body. These motor neurons allow us to take physical action in response to stimuli in the environment.
                    </p>
                    <p>
                        <b>Sensory neurons:</b> Also called afferent neurons, sensory neurons carry information from the nerves to the central nervous system. It is
                        these sensory neurons that allow us to take in sensory information and send it to the brain and spinal cord.
                    </p>
                    <div>
                        <img src='/assets/images/diagramafferentandefferentnerves.png' style="width: 100%; height: auto;">
                    </div>

                    <p>
                        <a href='https://study.com/academy/lesson/somatic-nervous-system-definition-function-example.html#transcriptHeader'>
                            Study.com, Somatic Nervous System: Definition, Function & Example
                        </a>
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>
