.nrv-list-style-square {
    list-style-type: square;
}

.nrv-list-style-circle {
    list-style-type: circle;
}

.nrv-indent-01 {
    padding-left: 3rem;
}

.nrv-indent-02 {
    padding-left: 6rem;
}

.nrv-no-margin {
    margin: 0 0;
}

.nrv-list-color {
    a {
        color:  #373f42 !important;
    }
}
