<!-- Content -->
<section id="content">
    <div class="container">

        <div class="row">
            <div class="col-12">

                <section>
                    <header>
                        <h2>The Central Nervous System (CNS)</h2>
                    </header>
                    <p>
                        The central nervous system (CNS) controls most functions of the body and mind. It consists of two parts: the brain and the spinal cord.
                        The brain is the center of our thoughts, the interpreter of our external environment, and the origin of control over body movement.
                        The spinal cord is a long, fragile tubelike structure that connects the brain to the rest of the body. It is the pathway through which
                        messages from the brain are sent to the body and from the body to the brain.
                    </p>
                </section>

            </div>
        </div>

    </div>
</section>

<router-outlet></router-outlet>
