<!-- Content -->
<section id="content">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <section>
                    <header>
                        <h2>Fun Facts</h2>
                    </header>
                </section>
            </div>

            <br/>

            <div class="col-12">
                <section>
                    <h3>Did you know that neurons are the longest-living cells in the human body? They are irreplaceable, so don’t lose any.</h3>
                </section>
            </div>

            <br/>

            <div class="col-12">
                <section>
                    <h3>
                        The neurons have giant appetites, so they need a steady supply of glucose and oxygen. 25 percent of the calories you take in every day is used to supply your brain’s activity! 
                    </h3>
                </section>
            </div>

            <br/>

            <div class="col-12">
                <section>
                    <h3>
                        The longest nerve in the body is the sciatic nerve. It runs from the spinal cord to the toes on each side of the body.
                    </h3>
                </section>
            </div>

            <br/>

            <div class="col-12">
                <section>
                    <h3>            
                        The brain uses more of the body’s energy than the rest of the organs, using over 20% of the energy reserves in the body. 
                    </h3>
                </section>
            </div>

        </div>
    </div>
</section>
