<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <section>
                    <header>
                        <h2>The Peripheral Nervous System (PNS)</h2>
                    </header>
                    <p>
                        The Peripheral Nervous System is the division of the nervous system containing all the nerves that lie outside of the central nervous
                        system.The primary role of the peripheral nervous system is to connect your CNS to the organs, limbs, and skin. These nerves extend
                        from the central nervous system to the outermost areas of the body. The peripheral system allows the brain and spinal cord to receive
                        and send information to other areas of the body, which allows us to react to stimuli in our environment.
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>
