<!-- Content -->
<section id="content" class='nrv-no-top-padding'>
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-medium">

                <section>
                    <header class='nrv-list-color'>
                        <h2><a routerLink="brain" routerLinkActive="nrv-route-active">The Brain</a></h2>
                    </header>
                    <p>
                        The brain is the most complex part of the human body, that is made up of a large mass of nerve tissue that’s protected within the skull.
                        This 1.4 kg organ is the seat of intelligence, interpreter of the senses, initiator of body movement, and controller of behavior.
                        The brain receives information through our five senses: sight, smell, touch, taste, and hearing - often many at one time. It assembles
                        the messages in a way that has meaning for us, and can store that information in our memory. The brain controls our thoughts, memory and
                        speech, movement of the arms and legs, and the function of many organs within our body. The brain has 3 main parts. The cerebrum,
                        cerebellum and brainstem. 
                    </p>

                    <div>
                        <ul class='nrv-list-color nrv-list-style-square'>
                            <li>
                                <h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Cerebrum</a></h3>
                                <ul class='nrv-list-color nrv-list-style-circle nrv-indent-01 nrv-no-margin'>
                                    <li><h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Left and Right brain</a></h3></li>
                                    <li>
                                        <h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">The Lobes</a></h3>
                                        <ul class='nrv-list-color nrv-list-style-circle nrv-indent-01 nrv-no-margin'>
                                            <li><h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Frontal Lobe (Blue)</a></h3></li>
                                            <li><h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Parietal Lobe (Orange)</a></h3></li>
                                            <li><h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Occipital Lobe (purple)</a></h3></li>
                                            <li><h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Temporal Lobe(green)</a></h3></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h3><a routerLink="brain" routerLinkActive="nrv-route-active">Cerebellum</a></h3>
                            </li>
                            <li>
                                <h3><a routerLink="brain" routerLinkActive="nrv-route-active">Brainstem</a></h3>
                            </li>
                        </ul>
                    </div>
                </section>

            </div>

            <div class="col-6 col-12-medium">
                
                <section>
                    <header>
                        <h2>The Spinal Cord</h2>
                    </header>
                    <p>
                        The spinal cord is a long, thin, tubular bundle of nervous tissue and support cells that extends from the medulla oblongata of
                        the brain to the level of the lumbar region. The spinal cord, protected by your bony spinal column, begins at the occipital bone
                        and extends down to the space between the first and second lumbar vertebrae. Your spinal cord is protected by the spinal column
                        which is called the vertebrae. Although the spinal column is somewhat flexible, some of the vertebrae in the lower parts of the
                        spinal column become fused. The spinal cord has a varying width, ranging from 0.5 inch thick in the cervical and lumbar regions
                        to 0.25 inch thick in the thoracic area. The length of the spinal cord is approximately 45 cm (18 in) in men and about 43 cm (17 in)
                        long in women. It consists of nerves that carry incoming and outgoing messages between the brain and the rest of the body. It starts
                        at the medulla oblongata and stretches to the lumbar region of the spine. It consists of the cervical, thoracic, lumbar, sacral
                        and coccygeal regions. Each of these parts have spinal nerves, the cervical has 8 pairs of spinal nerves and the thoracic has 12
                        pairs of spinal nerves. The lumber and sacral both have 5 pairs. Last but not least, the coccygeal has only one pair. That leads
                        us to a whopping total of 31 pairs or 62 total spinal nerves. Your spinal cord also controls your reflexes. A reflex is a quick
                        action that your body does without telling the brain. Did you ever touch a hot stove and quickly pull your hand away, even before
                        you could think, 'Ouch, that's hot!' That's a reflex. The sensation of heat that was picked up by your finger traveled to your
                        spinal cord. Instead of wasting the time it would take to carry that message to your brain, your spinal cord sent a message to your
                        arm muscles to pull away.
                    </p>
                </section>

            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-12 col-12-medium">
                <section>
                <img src='/assets/images/spinal-cord-anatomy.jpg'>

                <br/>
                
                <a href='https://www.sapnamed.com/blog/10-surprising-facts-about-the-spinal-cord'>Sapnamed, 10 Surprising Facts About the Spinal Cord, 2019</a>
                </section>
            </div>
        </div>
    </div>
</section>
