<!-- Content -->
<section id="content" class='nrv-no-top-padding'>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <section>
                    <div>
                        <ul class='nrv-list-color nrv-list-style-square nrv-indent-01'>
                            <li>
                                <h3><a routerLink="/pns/details" routerLinkActive="nrv-route-active">Autonomic Nervous System</a></h3>
                            </li>
                            <li>
                                <h3><a routerLink="/pns/details" routerLinkActive="nrv-route-active">Somatic Nervous System</a></h3>
                            </li>
                        </ul>
                    </div>

                    <img src="assets/images/peripheral-nervous-system.webp" alt="" style="width: 100%; height: auto;"/>
                    <p>
                        <a href='https://www.verywellmind.com/what-is-the-peripheral-nervous-system-2795465'>
                            Verywell mind, How the peripheral nervous system works, 2020
                        </a>
                    </p>
                    <p>
                        The PNS provides information about the outside world, ranging from the temperature to a twisted ankle. The PNS has sensory nerve
                        receptors that respond to different types of stimuli. Thermoreceptors respond to changes in temperature, photoreceptors react to light,
                        chemoreceptors pay attention to chemicals and mechanoreceptors respond to pressure, touch, and vibration. We also have special nerve
                        receptors called nociceptors that, unlike the others, only fire to indicate pain. If you step on a tack, a stimulus activates some of
                        your sensory receptors. Your mechano and nociceptors provide the base sensation of discomfort when your foot hits the tack. Then the
                        signal goes up your spinal cord that causes the immediate reflexive action of pulling up your foot, after that it goes to the brain
                        where the brain eventually interprets that discomfort into the sensation of pain. The peripheral nervous system itself is divided into
                        two parts: the autonomic nervous system and the somatic nervous system. Each of these components plays a critical role in how the
                        peripheral nervous system operates.
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>
