<!-- Features -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-2 col-6-medium col-12-small">
                <section>
                    <img src="assets/images/cns.svg" alt="" />
                    <h2>Central Nervous System (CNS)</h2>
                    <p>
                        The central nervous system (CNS) controls most functions of the body and mind.
                        It consists of two parts: the brain and the spinal cord
                    </p>
                </section>
            </div>
            <div class="col-2 col-6-medium col-12-small">
                <section>
                    <img src="assets/images/pns.svg" alt="" />
                    <h2>Peripheral Nervous System (PNS)</h2>
                    <p>
                        The peripheral nervous system is one of two components that make up the nervous system of bilateral animals,
                        with the other part being the central nervous system. The PNS consists of the nerves and outside the brain and spinal cord.
                    </p>
                </section>
            </div>
            <div class="col-2 col-6-medium col-12-small">
                <section>
                    <img src="assets/images/neuron.svg" alt="" />
                    <h2>Neuron</h2>
                    <p>
                        A neuron or nerve cell is an electrically excitable cell that communicates with other cells via specialized connections called synapses.
                        It is the main component of nervous tissue in all animals except sponges and placozoa. Plants and fungi do not have nerve cells.
                    </p>
                </section>
            </div>
            <div class="col-2 col-6-medium col-12-small">
                <section>
                    <img src="assets/images/synapse.svg" alt="" />
                    <h2>Synapse</h2>
                    <p>
                        In the nervous system, a synapse[2] is a structure that permits a neuron (or nerve cell)
                        to pass an electrical or chemical signal to another neuron or to the target effector cell.
                    </p>
                </section>
            </div>
            <div class="col-2 col-6-medium col-12-small">
                <section>
                    <img src="assets/images/fun_fact.svg" alt="" />
                    <h2>Fun Facts !</h2>
                    <p>
                        Every person's body contains billions of nerve cells (neurons). There are about 100 billion in the brain and 13.5 million in the spinal cord.
                        The body's neurons take up and send out electric and chemical signals (electrochemical energy) to other neurons
                    </p>
                </section>
            </div>
            <div class="col-2 col-6-medium col-12-small">
                <section>
                    <img src="assets/images/noun_conclusion.svg" alt="" />
                    <h2>Conclusion</h2>
                    <p>
                        In conclusion, the nervous system is a thoroughly complicated system that exhibits the body’s greatest features and how hard it works
                        to execute voluntary and involuntary actions throughout the body.
                    </p>
                </section>
            </div>
        </div>
    </div>
</section>