<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Logo -->
                <h1><a href="index.html" id="logo">Nervous System</a></h1>

                <!-- Nav -->
                <nav id="nav">
                    <a routerLink="/introduction" routerLinkActive="nrv-route-active">Introduction</a>
                    <a routerLink="/cns" routerLinkActive="nrv-route-active">CNS</a>
                    <a routerLink="/pns" routerLinkActive="nrv-route-active">PNS</a>
                    <a routerLink="/neurons" routerLinkActive="nrv-route-active">Neurons</a>
                    <a routerLink="/synapse" routerLinkActive="nrv-route-active">Synapse</a>
                    <a routerLink="/funfact" routerLinkActive="nrv-route-active">Fun Fact</a>
                </nav>

            </div>
        </div>
    </div>
</section>
