<!-- Content -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <section>
                    <header>
                        <h2>The Neuron</h2>
                    </header>
                    <p>
                        Neurons are the key players in the brain and nervous system. Neurons are messengers of information. They use electrical impulses and
                        chemical signals to transmit information between different areas of the brain, and between the brain and the rest of the nervous system.
                    </p>
                    <img src="/assets/images/Components_of_neuron.jpg" alt="" style="width: 100%; height: auto;"/>
                    <p>
                        <a href='https://opentextbc.ca/introductiontopsychology/chapter/3-1-the-neuron-is-the-building-block-of-the-nervous-system/'>
                            Jennifer Walinga, Diagram of the components of a neuron, CC BY-SA 4.0, 
                        </a>
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>
