<!-- Content -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <section>
                    <header>
                        <h2>The Synapse</h2>
                    </header>
                    <p>
                        If the neurons form the structure of your nervous system, your synapses are what turn that structure into an actual system.
                        “Synapse” comes from the Greek word “to clasp or join”. It’s basically a junction or a crossroad. Synapses are essential to
                        the transmission of nervous impulses from one neuron to another. Neurons are specialized to pass signals to individual target cells,
                        and synapses are the means by which they do so. 
                    </p>
                    <img src="assets/images/SynapseSchematic_lines.svg" alt="" style="width: 100%; height: auto;"/>
                    <p>
                        <a href='https://commons.wikimedia.org/w/index.php?curid=41349545'>
                            By Thomas Splettstoesser (www.scistyle.com) - Own work, CC BY-SA 4.0, 
                        </a>
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>
