<!-- Content -->
<section id="content" class='nrv-no-top-padding'>
    <div class="container">

        <div class="row">

            <div class="col-12 col-12-medium">

                <section>
                    <header class='nrv-list-color'>
                        <h2><a routerLink="/cns/brain" routerLinkActive="nrv-route-active">Cerebrum</a></h2>
                    </header>
                    <p>
                        The cerebrum is the largest part of the brain and is composed of right and left hemispheres.
                    </p>
                </section>

            </div>

        </div>

        <br/>

        <div class="row">
            <div class="col-12 col-12-medium">
                <section>
                    <h2>Left and Right brain</h2>

                    <p>
                        The cerebrum is divided into two halves: the right and left hemispheres They are joined by a bundle of fibers called the corpus
                        callosum that transmits messages from one side to the other. Each hemisphere controls the opposite side of the body. If a stroke
                        occurs on the right side of the brain, your left arm or leg may be weak or paralyzed.
                        Not all functions of the hemispheres are shared. In general, the left hemisphere controls speech, comprehension, arithmetic,
                        and writing. The right hemisphere controls creativity, spatial ability, artistic, and musical skills. The left hemisphere is
                        dominant in hand use and language in about 92% of people.                        
                    </p>
                </section>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-4 col-12-medium">
                <section>
                    <h2>The Lobes</h2>

                    <a href='https://www.mayfieldclinic.com/pe-anatbrain.htm'>Mayfield Brain and Spine, Anatomy of the Brain, 2016</a>
                    <img src='/assets/images/pe-anatomy-brain.jpg'>

                    <p>
                        The cerebral hemispheres have distinct fissures, which divide the brain into lobes. Each hemisphere has 4 lobes: frontal, temporal,
                        parietal, and occipital. Each lobe may be divided, once again, into areas that serve very specific functions. It’s important to
                        understand that each lobe of the brain does not function alone. There are very complex relationships between the lobes of the brain
                        and between the right and left hemispheres. 
                    </p>
                </section>
            </div>

            <div class="col-8 col-12-medium">
                <div class="row">
                    <div class="col-12 col-12-medium">
                        <section class='nrv-padding-bottom-short'>
                            <h2>Frontal Lobe (Blue)</h2>
        
                            <p>
                                The Frontal Lobe has three main parts, Broca’s area, Frontal lobe and motor strip. They are responsible for personality, behavior,
                                and emotions like judgment, planning, problem solving,Intelligence, concentration, self awareness, speech and body movement.
                                If Broca’s area has been damaged, one may have difficulty moving the tongue or facial muscles to speak, but can still read and
                                understand the language.                      
                            </p>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-12-medium">
                        <section class='nrv-padding-bottom-short'>
                            <header>
                                <h2>Parietal Lobe (Orange)</h2>
                            </header>
                            <p>
                                The Parietal Lobe is responsible for interpreting language, words, vision, hearing, sensory, memory, spatial and visual perception.
                                The sensory strip is responsible for touch, pain and temperature.
                            </p>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-12-medium">
                        <section class='nrv-padding-bottom-short'>
                            <header>
                                <h2>Occipital Lobe (purple)</h2>
                            </header>
                            <p>
                                The occipital Lobe is responsible for interpreting vision (color and light).
                            </p>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-12-medium">
                        <section class='nrv-padding-bottom-short'>
                            <header>
                                <h2>Temporal Lobe(green)</h2>
                            </header>
                            <p>
                                Temporal lobe is responsible for memory, hearing, sequencing and organization. Understanding language belongs to Wernicke’s area.
                                If there is any damage to the Wernicke’s area, the individual may speak in long sentences that have no meaning, add unnecessary words,
                                and even create new words. They can make speech sounds, however they have difficulty understanding speech and are therefore unaware
                                of their mistakes.
                            </p>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
