<!-- Content -->
<section id="content" class='nrv-no-top-padding'>
    <div class="container">

        <div class="row">

            <div class="col-12 col-12-medium">

                <section>
                    <header class='nrv-list-color'>
                        <h2><a routerLink="/cns" routerLinkActive="nrv-route-active">The Brain</a></h2>
                    </header>
                    <p>
                        The brain is the most complex part of the human body, that is made up of a large mass of nerve tissue that’s protected within the skull.
                    </p>
                </section>

            </div>

        </div>

        <br/>

        <div class="row">

            <div class="col-4 col-12-medium">

                <section>
                    <header class='nrv-list-color'>
                        <h2><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Cerebrum</a></h2>
                    </header>
                    <p>
                        The cerebrum is the largest part of the brain and is composed of right and left hemispheres. It performs higher functions
                        like interpreting touch, vision and hearing, as well as speech, reasoning, emotions, learning, and fine control of movement.
                    </p>

                    <div>
                        <ul class='nrv-list-color nrv-list-style-square'>
                            <li>
                                <h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Left and Right brain</a></h3>
                            </li>
                            <li>
                                <h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">The Lobes</a></h3>
                                <ul class='nrv-list-color nrv-list-style-circle nrv-indent-01 nrv-no-margin'>
                                    <li><h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Frontal Lobe (Blue)</a></h3></li>
                                    <li><h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Parietal Lobe (Orange)</a></h3></li>
                                    <li><h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Occipital Lobe (purple)</a></h3></li>
                                    <li><h3><a routerLink="/cns/cerebrum" routerLinkActive="nrv-route-active">Temporal Lobe(green)</a></h3></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>

            </div>

            <div class="col-4 col-12-medium">
                
                <section>
                    <header>
                        <h2>Cerebellum</h2>
                    </header>
                    <p>
                        The cerebellum is located under the cerebrum. The cerebellum is divided into two hemispheres just like the cerebrum. They are called
                        the right cerebellar hemisphere and the left cerebellar hemisphere. The cerebellum smooths out movements and makes them more accurate.
                        For example, if you are trying to touch something with your finger, the cerebellum plays a big role in your accuracy. The first thing
                        the cerebellum needs to do is get information about the motor plan. The motor plan is made at the motor areas of the cerebrum.
                        It involves what muscles need to contract, and at what intensity and duration. To send the motor plan, neurons send it down their axons
                        all the way to the cerebellum. Other neurons take the plan to the corresponding muscles to run the outlined plan. Now that the
                        cerebellum knows the motor plan, it wants to know how the movement is actually going. This is called “Position Sense Information”.
                        Now that the cerebellum knows what the motor plan is and it can compare it to the movement that is actually occurring by looking at
                        the position sense information. It can see if the movement is occurring according to plan or if corrections are necessary. If the
                        movements need to be fixed somehow to make it smoother and more accurate, which is usually the case, the cerebellum needs to send
                        feedback back to the motor areas of the cerebrum that made the motor plan to correct that movement while it's occurring.
                    </p>
                </section>

            </div>

            <div class="col-4 col-12-medium">
                
                <section>
                    <header>
                        <h2>Brainstem</h2>
                    </header>
                    <p>
                        The brainstem, an area at the base of the brain that lies between the deep structures of the cerebral hemispheres and the cervical
                        spinal cord and that serves a critical role in regulating certain involuntary actions of the body, including heartbeat, breathing,
                        body temperature, wake and sleep cycles, digestion, sneezing, coughing, vomiting, and swallowing. It acts as a relay center connecting
                        the cerebrum and cerebellum to the spinal cord. Part of the brain stem's job is to control your involuntary muscles without you even
                        thinking about it. There are involuntary muscles in the heart and stomach, and it's the brainstem that tells your heart to pump more
                        blood when you're biking or your stomach to start digesting your lunch. The brain stem also sorts through the millions of messages
                        that the brain and the rest of the body send back and forth. The brainstem is divided into three sections in humans: the midbrain,
                        the pons, and the medulla oblongata.
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>
