<!-- Content -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <section>
                    <header>
                        <h2>Human nervous system</h2>
                        <h3>Introduction</h3>
                    </header>
                    <p>
                        The Nervous System is the control center for your body. It interprets the things your body senses,
                        and it sends information to the muscles and glands, telling them what to do. It also runs the systems
                        you don’t have to think about, like the digestive and cardiovascular systems. The nervous system is
                        also responsible for your moods and your thoughts. The structures of the nervous system include your brain,
                        spinal cord, and nerves that reach to every part of your body.
                        The human nervous system can be viewed in two parts, which include the CNS (central nervous system) and the
                        PNS (peripheral nervous system). The brain and the spinal cord comprise the CNS, whereas the PNS connects
                        the rest of the body, such as vital organs to the spinal cord and the brain.
                    </p>
                    <img src="assets/images/basicDiagramOfCnsAndPns.webp" alt=""/>
                    <p>
                        <a href='https://owlcation.com/stem/Human-Behavior-and-the-Influence-of-the-Nervous-System'>
                        Owlcation, The Influence of the Nervous System on Human Behavior, 2016
                        </a>
                    </p>
                    <p>
                        The neuroanatomical construction is distinctly important, as the architecture of the brain assists in understanding
                        how parts of the brain interact with the rest of the nervous system and influence functional expressions, behavior,
                        and emotions. Although much of the human nervous system is based on biological, chemical, and physiological
                        foundations that most scientists and researchers agree upon, the influence of the brain and its anatomical architecture
                        on function and behavior is highly controversial.
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>
